{% extends 'base.html.twig' %}

{% block title %}Liste entreprises{% endblock %}

{% block body%}
<h1>Liste des entreprises proposant un stage</h1>
{% for entreprise in entreprises %}
<div class="container">
  <div class="row">
    <div class="col">
      {{ entreprise.nom }}
    </div>
    <div class="col">
      {{ entreprise.adresse }}
    </div>
    <div class="col">
      Column
    </div>
  </div>
</div>
{% endblock %}