{% extends 'base.html.twig' %}

{% block title %}Liste entreprises{% endblock %}

{% block body%}
<h1>Liste des entreprises proposant un stage</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nom de l'entreprise :</th>
      <th scope="col">Adresse :</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
{% for entreprise in liste_entreprises %}
    <tr>
      <th scope="row">{{ entreprise.nom }}</th>
      <td>{{ entreprise.adresse }}</td>
      <td><a href = '{{path('pageStagesParEntreprise',{'id':entreprise.id}) }}';">Stages de cette entreprise</a></td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}