<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link href="{{ ('/css/bootstrap.min.css') }}" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        {% block bandeau %}
        <div class="container">
            <div class="row">
                <div class="col">
                <a class="navbar-brand" href="{{ path('prostages')}}">ProStage</a>
                </div>
                <div class="col">
                <a href="{{ path('pageFormations')}}">Formation</a>
                </div>
                <div class="col">
                <a href="{{ path('pageEntreprises')}}">Entreprise</a>
                </div>
                </div>
        {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>